#about-me .summary {
    width: 60%;
    margin: 30px auto;
    line-height: 2.5rem;
    padding: 0 10px;
    background-color: rgb(255, 255, 255);
    position: relative;
}

#about-me .summary .name, #about-me .summary .language{
    border-bottom: 1px solid rgba(70, 65, 67, 0.5);
}

@media (max-width: 900px){
    #about-me .summary {
        width: 100%;
        line-height: 2rem;
        margin: 30px 0;
    }

    #about-me{
        padding-left: 9%;
        padding-right: 9%;
    }

}