#academic .section-content {
    --primary-color: rgb(242, 242, 242);
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    border-radius: 10px;
}

#academic .fg-wrapper {
    display: inline-block;
    margin-right: -2px;
    display: flex;
}



#academic .bg-wrapper {
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    display: flex;
}

#academic .fg-wrapper .fg , #academic .bg-wrapper .bg {
    flex: 1 100%;
}

#academic .fg-wrapper,
#academic .bg-wrapper {
    /* overflow-x: auto; */
    flex: auto;
}

#academic table {
    border-collapse: collapse;
}

#academic table td,
#academic table th {
    padding: 20px;
    white-space: nowrap;
}

#academic table td,
#academic table th {
    text-align: left;
}

#academic .fg-wrapper tr:nth-child(even) {
    background-color: var(--primary-color);
}

#academic .bg-wrapper tr:nth-child(even) {
    background-color: var(--primary-color);
}

@media (max-width: 900px) {

    #academic table td,
    #academic table th {
        padding: 10px;
    }

    #academic .section-content {
        padding: 0 20px;
    }

    #academic .fg-wrapper {
        box-shadow: 6px 0px 20px rgba(0, 0, 0, .1);
        z-index: 2;
    }

    #academic .bg-wrapper {
        z-index: 1;
        box-shadow: inset 6px 1px 10px rgba(0, 0, 0, .1);
    }
}