#attribution .section-content {
    --primary-color: rgb(242, 242, 242);
    overflow: hidden;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}


#attribution .section-content .message {
    margin: 20px 0;
    text-align: center;
    color: rgb(108, 103, 138);
}

#attribution .section-content .message .complex,
#attribution .section-content .message .simple {
    font-size: larger;
}
#attribution .section-content .attribution-list{
    text-align: center;
}
#attribution .section-content .attribution-list > p{
    font-size: small;
    font-weight: 700;
}

#attribution .section-content .attribution-list ul{
    margin: 20px;
    text-align: left;
}

#attribution .section-content .attribution-list ul a{
   text-decoration: none;
}

