
#contact .section-content{
    text-align: center;
}

#contact .section-content address{
    display: flex !important;
    justify-content: center;
    align-items: center;
    font-style: normal;
    padding: 10px 0;

    font-size: larger;
}

#contact .section-content address a{
    text-decoration: none;
}