#contact .section-content {
  text-align: center;
}

#ctm {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("https://images.unsplash.com/photo-1660667455237-693901909b0c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact .section-content address {
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-style: normal;
  padding: 10px 0;

  font-size: larger;
}

#contact .section-content address a {
  text-decoration: none;
}
