* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

tr {
  height: 59px;
}

body {
  font-family: "Roboto", sans-serif;
  --bg-second-color: rgb(242, 242, 242);
  --bg-first-color: white;
  --pretty-color: rgb(12, 55, 68);
}

body > section:nth-child(odd) {
  background-color: var(--bg-second-color);
}

body > section:nth-child(even) {
  background-color: var(--bg-first-color);
}

body > section > .wrapper {
  width: 60%;
  margin: auto;
  padding: 100px 0;
}
body > section > .wrapper > .section-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
body > section > .wrapper > .section-header .material-icons {
  font-size: 36px;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  body > section > .wrapper {
    width: 98%;
    padding: 30px 0;
  }

  body > section > .wrapper > .section-header {
    margin-bottom: 60px;
  }
}
