#greeting {
    position: sticky;
    top: 0;
    z-index: 8;
    height: 50px;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: 0px 6px 60px rgba(0, 0, 0, .1);
    font-size: 14px;
}

#greeting .wrapper {
    padding: 0;
}

#greeting .distinct {
    font-size: 1.2em;
}
#greeting .section-content {
    text-align: center;
    color: rgba(0, 0, 0, .6);
}

@media (max-width: 369px) {

    #greeting .section-content {
        text-align: left;
        padding-left: 10px;
    }
}
