@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39+Text&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}
:root {
  /* CSS HEX */
  --cadet-grey: #99a5b1ff;
  --bittersweet: #4777db;
  --sea-green-crayola: #0f6575ff;
  --arylide-yellow: #032448;
  --dark-purple: #6c4534;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  overflow: hidden;
  background-color: #d1d8ec;
}
.container {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  --e: 3rem;
  width: 400px;
  height: clamp(600px, 800px, 800px);
}

.my-name {
  position: relative;
  text-align: center;
  font-size: 100%;
  text-transform: uppercase;
  color: var(--arylide-yellow);
  opacity: 0.5;
}
#hero {
  /* background: url("../images/me.jpg") no-repeat center / cover; */
  display: flex;
  flex-direction: column;
  max-height: 90%;
  overflow: hidden;
  width: 100%;
  padding: 0;
  flex-grow: 1;
  position: relative;
  background-color: #bcc3e1;
}

.actions-panel {
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  margin: 0 !important;
}

.actions-panel .material-icons {
  font-size: 2rem;
}

.detailed-view {
  position: absolute;
  color: var(--arylide-yellow);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  font-size: 1.1rem;
  display: none;
}
.detailed-view .material-icons {
  font-size: 1em;
  background: linear-gradient(
    145deg,
    var(--arylide-yellow) 50%,
    var(--bittersweet) 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.presentation {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  column-gap: 0.8rem;
  row-gap: 0.8rem;
  grid-auto-rows: 150px;
  height: 90%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: inherit;
  overflow: auto;
  transition: all 2s;
}

.listing--tall {
  grid-row: span 2 / auto;
}

.listing {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: inherit;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  padding: 4px;
  border-radius: 4px;
  transition: all 1s;
}

.listing:hover .material-icons {
  background: linear-gradient(
    120deg,
    var(--arylide-yellow) 0%,
    var(--bittersweet) 8%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.material-icons {
  background: linear-gradient(
    120deg,
    var(--arylide-yellow) 0%,
    var(--bittersweet) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0;
  margin: 0;
  transition: all 2s;
}
.listing .material-icons {
  margin: 5px;
  font-size: 1.5rem;
  background: linear-gradient(
    120deg,
    var(--arylide-yellow) 0%,
    var(--bittersweet) 10%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 2s;
}

.listing ul {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  height: 90%;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  padding-top: 10px;
}

.listing ul {
  background: linear-gradient(
    80deg,
    var(--dark-purple) 0%,
    var(--bittersweet) 10%,
    var(--dark-purple) 50%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header .material-icons {
  font-size: 1.5rem !important;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--sea-green-crayola);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}
*::-webkit-scrollbar-thumb {
  background: linear-gradient(
    80deg,
    var(--bittersweet) 0%,
    var(--sea-green-crayola) 50%,
    var(--arylide-yellow) 100%
  );
  border-radius: 5px;
}

@media only screen and (max-width: 400px) {
  .container {
    width: 99vw;
  }
}

@media only screen and (max-height: 900px) {
  .container {
    height: 99.9vh;
  }
}
