
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import 'entry.css';
@import 'navigation.css';
@import 'project.css';
@import 'about.css';
@import 'competence.css';
@import 'academic.css';
@import 'contact.css';
@import 'career.css';
@import 'attribution.css';
@import 'greeting.css';

