#navigation {
  display: inline-block;
  padding: 0 10px;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  
}

#navigation-wrapper ul {
  list-style-type: none;
  
}

#navigation-wrapper ul li a {
  text-decoration: none;
  position: relative;
  margin-left: 0;
  transition: margin-left 3s ease-in-out;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.2rem;
  transition: color .5s ease-in-out;
}

#navigation-wrapper ul li {
  padding: 10px 10px;
  position: relative;
}

#navigation-wrapper ul li a:hover{
  color: rgba(0, 0, 0, 1);
}

#navigation-wrapper ul li .jump-to {
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  padding-bottom: 8px;
  opacity: .5;
}

#navigation-button {
  display: none;
  padding: 5px !important;
  background-color: rgb(255, 255, 255);
  border: none;
  border-radius: 2px;
}

@media (max-width: 900px) {

  #navigation {
    display: block;
    position: fixed;
    top: 25px;
    display: flex;
    justify-content: flex-end;
    z-index: 10;
  }

  #navigation-wrapper {
    position: relative;
    
  }

  #navigation-button {
    display: block;
  }

  #navigation-elements {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: -6px 6px 20px rgba(0, 0, 0, .3);
    padding: 20px;
  }

  #navigation-elements.open {
    display: block;
  }

}