/* Coolors Exported Palette - https://coolors.co/99a5b1-ff6666-00fddc-e9d758-242038 */

/* CSS HEX */
--cadet-grey: #99a5b1ff;
--bittersweet: #ff6666ff;
--sea-green-crayola: #00fddcff;
--arylide-yellow: #e9d758ff;
--dark-purple: #242038ff;

/* CSS HSL */
--cadet-grey: hsla(210, 13%, 65%, 1);
--bittersweet: hsla(0, 100%, 70%, 1);
--sea-green-crayola: hsla(172, 100%, 50%, 1);
--arylide-yellow: hsla(53, 77%, 63%, 1);
--dark-purple: hsla(250, 27%, 17%, 1);

/* SCSS HEX */
$cadet-grey: #99a5b1ff;
$bittersweet: #ff6666ff;
$sea-green-crayola: #00fddcff;
$arylide-yellow: #e9d758ff;
$dark-purple: #242038ff;

/* SCSS HSL */
$cadet-grey: hsla(210, 13%, 65%, 1);
$bittersweet: hsla(0, 100%, 70%, 1);
$sea-green-crayola: hsla(172, 100%, 50%, 1);
$arylide-yellow: hsla(53, 77%, 63%, 1);
$dark-purple: hsla(250, 27%, 17%, 1);

/* SCSS RGB */
$cadet-grey: rgba(153, 165, 177, 1);
$bittersweet: rgba(255, 102, 102, 1);
$sea-green-crayola: rgba(0, 253, 220, 1);
$arylide-yellow: rgba(233, 215, 88, 1);
$dark-purple: rgba(36, 32, 56, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #99a5b1ff, #ff6666ff, #00fddcff, #e9d758ff, #242038ff);
$gradient-right: linear-gradient(90deg, #99a5b1ff, #ff6666ff, #00fddcff, #e9d758ff, #242038ff);
$gradient-bottom: linear-gradient(180deg, #99a5b1ff, #ff6666ff, #00fddcff, #e9d758ff, #242038ff);
$gradient-left: linear-gradient(270deg, #99a5b1ff, #ff6666ff, #00fddcff, #e9d758ff, #242038ff);
$gradient-top-right: linear-gradient(45deg, #99a5b1ff, #ff6666ff, #00fddcff, #e9d758ff, #242038ff);
$gradient-bottom-right: linear-gradient(135deg, #99a5b1ff, #ff6666ff, #00fddcff, #e9d758ff, #242038ff);
$gradient-top-left: linear-gradient(225deg, #99a5b1ff, #ff6666ff, #00fddcff, #e9d758ff, #242038ff);
$gradient-bottom-left: linear-gradient(315deg, #99a5b1ff, #ff6666ff, #00fddcff, #e9d758ff, #242038ff);
$gradient-radial: radial-gradient(#99a5b1ff, #ff6666ff, #00fddcff, #e9d758ff, #242038ff);