#projects .section-content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  --cennsored: rgb(233, 232, 232);
}

#projects .project {
  flex: 1 30%;
  position: relative;
  margin-bottom: 60px;
  margin-right: 30px;
}

#projects .last-project {
  flex: 0.3;
}

#projects .project-header {
  margin-bottom: 15px;
}

#projects .project-body {
  margin-bottom: 10px;
}
#projects .project-illustration {
  border-radius: 10px;
}

#projects .project-name {
  margin-bottom: 10px;
}

#projects .project-source {
  text-decoration: none;
  display: inline-block;
}
#projects .project-source .material-icons {
  font-size: 18px;
}

#projects .project-purpose {
  margin-bottom: 12px;
  color: rgba(0, 0, 0, 0.8);
  text-align: left;
}

#projects .censored {
  background-color: var(--cennsored);
  color: var(--cennsored);
}
#projects .censored li {
  color: var(--cennsored);
}

#projects .project-techno {
  margin-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#projects .project-techno span {
  cursor: pointer;
}

#projects .project ul {
  list-style-type: none;
  width: 50%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

#projects .project ul li {
  display: inline-block;
  font-weight: 500;
  font-size: medium;
  color: black;
}

#projects .project span {
  display: inline;
  margin-right: 8px;
}

#projects .footer-copy {
  position: absolute;
  top: 0;
  left: 0px;
  right: 0px;
  bottom: 20px;
  box-shadow: -6px 6px 20px rgba(0, 0, 0, 0.3);
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

#projects .footer-copy ul li {
  display: block;
  margin: 0 0 10px 0;
}

@media (max-width: 500px) {
  #projects .project:nth-child(even) {
    margin: 0 0px 60px;
  }

  #projects .section-content {
    padding: 0 20px;
  }

  #projects .section-content .project {
    flex: auto;
  }
}

@media (max-width: 600px) {
  #projects .last-project {
    flex: auto;
  }
}
